grant {
  permission java.security.SecurityPermission "setPolicy";
  permission java.net.SocketPermission "localhost:8080", "resolve,connect";
  permission java.net.SocketPermission "localhost:8081", "resolve,connect";
};
